<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rental_apps.android.rental_apps">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PrefsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityLogin"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.ActivityDetailUserCars"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppDetail" />
        <activity
            android:name=".ActivityRegister"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".user.UserMain"
            android:screenOrientation="fullSensor"
            android:theme="@style/nLiveoDrawer" />
        <activity
            android:name=".admin.AdminEditProfile"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppDetail" />
        <activity
            android:name=".user.ActivityListTransaksi"
            android:label="List Mobil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".user.ActivityDetailListHistory"
            android:label="List Mobil"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".user.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

    </application>

</manifest>